@model GoTravelApplication.Model.CustomerBooking

@{
    ViewData["Title"] = "AdminEdit";
}

<h1>AdminEdit</h1>

<h4>CustomerBooking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="DoAdminEdit">
            <input type="hidden" value="@ViewData["loggedAdminId"]" name="id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CustomerBookingId" />
            <div class="form-group">
                <input type="hidden" asp-for="PurchaseDate" value="@Model.PurchaseDate" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control">
                    <option value="" selected disabled hidden>Select One</option>
                    <option value="Unused">Unused</option>
                    <option value="Active">Active</option>
                    <option value="Expired">Expired</option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="BookingId" value="@Model.BookingId" class="form-control" />
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="CustomerId" value="@Model.CustomerId" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <form asp-action="BackToAdmin" class="text-danger">
        <input type="hidden" value="@ViewData["loggedAdminId"]" name="id" />
        <input type="hidden" value="@ViewData["custId"]" name="custId" />

        <div class="form-group">
            <input type="submit" value="Back to Customer Details" class="btn btn-secondary" />
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
