@model IEnumerable<GoTravelApplication.Model.CartBooking>

@{
    ViewData["Title"] = "Your Cart";
    double total = 0;
}

<h1>Your Cart</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Booking.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            total = total + item.Booking.Price;
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Booking.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Booking.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Booking.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Booking.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Booking.Price)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.CartId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CartId">Remove From Cart</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<h5>Total: $@total</h5>
<a asp-action="Checkout" asp-route-id="@ViewData["loggedCustomerId"]">Checkout</a>