@model GoTravelApplication.Model.Administrator

<h1>Adminstrator Home Page</h1>
<h4>
    Welcome @Model.UserName
</h4>


<br />
<form asp-action="OpenCustomerSearchPage" class="text-danger">
    <input type="hidden" value="@ViewData["loggedAdminId"]" name="id" />
    <div class="form-group">
        <input type="submit" class="btn btn-warning btn-center" value="Search Customers" />
    </div>
</form>
<form asp-action="OpenBookingSearchPage" class="text-danger">
    <input type="hidden" value="@ViewData["loggedAdminId"]" name="id" />
    <div class="form-group">
        <input type="submit" class="btn btn-warning" value="Search Bookings" />
    </div>
</form>
<form asp-action="OpenModeratorSearchPage" class="text-danger">
    <input type="hidden" value="@ViewData["loggedAdminId"]" name="id" />
    <div class="form-group">
        <input type="submit" class="btn btn-warning" value="Search Moderators" />
    </div>
</form>



<form asp-action="OpenModeratorRequestPage" class="text-danger">
    <input type="hidden" value="@ViewData["loggedAdminId"]" name="id" />
    <div class="form-group">
        <input type="submit" class="btn btn-warning" value="See Moderator Requests" />
    </div>
</form>