@model GoTravelApplication.Model.AdminResponse

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AdminResponse</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResponseTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResponseTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Admin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Admin.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Moderator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Moderator.UserName)
        </dd>
    </dl>
</div>
<div>
    <form asp-action="Index" class="text-danger">
        <input type="hidden" value="@ViewData["loggedModId"]" name="id" />
        <div class="form-group">
            <input type="submit" value="Back to List" class="btn btn-primary" />
        </div>
    </form>
</div>
